a img {
	border: none; /* Fucking IE */
}

body {
	font-family: Arial, Helvetica, Sans;
	margin: 0;
	padding: 0;
	background-color: #322419;
	color: #E7E0C7;
}

h1 {
	font-family: "Arial Black", Arial, Helvetica, Sans;
	font-variant: small-caps;
	color: white;
	display: inline-block;
	margin-left: 1em;
}

h1 a {
	color: white;
	text-decoration: none;
}

h2 {
	font-family: "Share", "Arial Narrow", Arial, Sans;
	font-weight: normal;
	border-left: 1px solid #BE7762;
	padding: .6em 0 .6em .8em;
	margin-left: 1em;
	color: #E9E2C9;
	display: inline-block;
}

h3 a {
	color: black;
	text-decoration: none;
}

h3 a:hover {
	color: gray;
	text-decoration: underline;
}
#site {
	width: 100%;
}

#header {
	background: transparent url('../images/header.jpg');
}
#main-wrap1 {
	border-top: 1px solid white;
	background: transparent url('../images/background.jpg');
}

#main-wrap2 {
	border-top: 1px solid white;
	background: transparent url('../images/background-top.jpg') repeat-x;
}

#main {
	color: black;
}

#contentwrapper {
	float: left;
	padding: 0;
	margin: 0;
}

#content {
	margin-right: 300px;
}

#sidebar {
	width: 300px;
	float: left;
	color: black;
	margin-left: -300px;
}

.sidebar-box {
	border-top: 1px solid white;
	border-bottom: 1px solid #AAA;
	padding: 1em;
}

.first-sidebar {
	border-top: 0;
}

.last-sidebar {
	border-bottom: 0;
}

.sidebar-box a {
	color: black;
	text-decoration: none;
}

.sidebar-box a:hover {
	color: gray;
	text-decoration: underline;
}

#clear {
	clear: both;
}

#footer {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Calibri, Arial, Helvetica, Sans, FreeSans, Jamrul, Garuda, Kalimati;
	font-size: 0.7em;
	text-align: center;
	border-top: 1px solid #664933;
	padding: 1em;
}

#footer a {
	color: #E7E0C7;
}

#contacts {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
#contacts li {
	padding: 0.2em;
}
#name {
	font-weight: bold;
}

#bio {
	white-space: normal;
	overflow-x: wrap;
	max-width: 300px;
}

.follow-button {
	display: inline-block;
}
.follow-button span{
	margin: 3px;
	verticle-align: middle;
}
.follow-button img {
	width: 16px;
	height: 16px;
	verticle-align: baseline;
}

#post {
	margin: 1em 1em 1em 4em;
	padding: 1em;
	border: 1px solid gray;
	background-color: white;
}

.post-date {
	float: left;
	margin: 0 0 0 -3em;
}

.post-date a {
	text-decoration: none;
}

.datebox
{
	border: 1px solid #000000;
	color: #ffffff;
	width: 40px;
}

.datebox span {
	display: block;
	text-align: center;
	text-transform: uppercase;
	padding: 2px;
	width: 36px;
}

.datebox .month
{
	font-size: 0.7em;
	background-color: #1e528c;
}
.datebox .day
{
	font-size: 1em;
	font-weight: bold;
	background-color: #2c7ad0;
}
.datebox .year
{
	font-size: 0.7em;
	background-color: #1e528c;
}

#related {
	margin: 2em;
}

.share-link {
	height: 25px;
	float: left;
}

#comments-wrapper {
	clear: both;
}