<div id="comments-wrapper">
	<a id="toggle-comments" href="#"></a>
	<span id="comments">
		<div id="disqus_thread"></div>
		<script type="text/javascript">
			/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
			var disqus_developer = 0;
			var disqus_shortname = 'jasondentler'; // required: replace example with your forum shortname
			var disqus_identifier = '{{ page.url }}';

			/* * * DON'T EDIT BELOW THIS LINE * * */
			(function() {
				var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
				dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
				(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
	</span>
	<script type="text/javascript">
	$(function () {
		$('#toggle-comments').click(function (e) {
			e.preventDefault();
			if ($('#comments').is(':visible')) {
				$('#comments').hide();
				$('#toggle-comments').html('Show Comments');
			} else {
				$('#comments').show();
				$('#toggle-comments').html('Hide Comments');
			}
			return false;
		});
		$('#toggle-comments').click();
	});
	</script>
</div>