<div class="sidebar-box">
	<div class="sidebar-box-header-wrap1">
		<div class="sidebar-box-header-wrap2">
			<div class="sidebar-box-header">
				Contact Me
			</div>
		</div>
	</div>
	<div class="sidebar-box-content">
		<ul id="contacts">
			<li>Jason Dentler</li>
			<li><a href="mailto:jasondentler@gmail.com">jasondentler@gmail.com</a></li>
			<li><a href="https://twitter.com/jasondentler" class="twitter-follow-button" data-show-count="false">Follow @jasondentler</a></li>
			<li><a href="https://github.com/users/follow?target=jasondentler" class="github-follow-button"><img src="https://github.com/favicon.ico" /><span>Follow me on Github</span></a></li>
		</ul>
	</div>
</div>
<div class="sidebar-box">
	<div class="sidebar-box-header-wrap1">
		<div class="sidebar-box-header-wrap2">
			<div class="sidebar-box-header">
				NHibernate 3.0 Cookbook
			</div>
		</div>
	</div>
	<div class="sidebar-box-content" style="text-align: center;">
		<a href="http://www.packtpub.com/nhibernate-3-0-cookbook/book?utm_source=jasondentler.com&utm_medium=blog&utm_content=authorsite&utm_campaign=mdb_004974">
			<img src="/images/NH3CookbookCoverSidebar.png" alt="NHibernate 3.0 Cookbook"/>
		</a>
	</div>
</div>