<div class="sidebar-box first-sidebar">
	<ul id="contacts">
		<li id="name">Jason Dentler</li>
		<li id="bio">I'm a professional coder, sci-fi geek, science believer, and occasionally a grammar nazi. I wrote a book.</li>
		<li><a href="/atom.xml" class="follow-button"><img src="/images/icon_rss.gif" />Subscribe to my blog</a>
		<li><a href="https://twitter.com/jasondentler" target="_blank" class="follow-button"><img src="https://twitter.com/favicon.ico"><span>@jasondentler</span></a></li>
		<li><a href="http://github.com/jasondentler" target="_blank" class="follow-button"><img src="https://github.com/favicon.ico" /><span>github.com/jasondentler</span></a></li>
		<li><a href="mailto:jasondentler@gmail.com" class="follow-button"><img src="/images/email.png"><span>jasondentler@gmail.com</span></a></li>
	</ul>
</div>
<div class="sidebar-box">
	<a href="http://www.packtpub.com/nhibernate-3-0-cookbook/book?utm_source=jasondentler.com&utm_medium=blog&utm_content=authorsite&utm_campaign=mdb_004974">
		<img src="/images/NH3CookbookCoverSidebar.png" alt="NHibernate 3.0 Cookbook" style="width: 98%"/>
	</a>
</div>
<div class="sidebar-box last-sidebar">
	<ul id="blogroll">
		<li class="heading">Blogroll:</li>
		<li><a href="http://joseoncode.com/">Jose Romaniello</a></li>
		<li><a href="http://ayende.com/blog">Oren Eini aka Ayende</a></li>
		<li><a href="http://fabiomaulo.blogspot.com/">Fabio Maulo</a></li>
		<li><a href="http://www.missingreturnpath.com/">Ryan Hartzog</a></li>
		<li><a href="http://www.codeblots.com/">Matthew Roberts</a></li>
	</ul>
</div>
