<div class="sidebar-box">
	<div class="sidebar-box-header-wrap1">
		<div class="sidebar-box-header-wrap2">
			<div class="sidebar-box-header">
				Contact Me
			</div>
		</div>
	</div>
	<div class="sidebar-box-content">
		Jason Dentler<br />
		E-Mail: <a href="mailto:jasondentler@gmail.com">jasondentler@gmail.com</a><br />
		Twitter: <a href="http://twitter.com/jasondentler">@jasondentler</a><br />
		GitHub: <a href="http://github.com/jasondentler">jasondentler</a><br />
	</div>
</div>
<div class="sidebar-box">
	<div class="sidebar-box-header-wrap1">
		<div class="sidebar-box-header-wrap2">
			<div class="sidebar-box-header">
				NHibernate 3.0 Cookbook
			</div>
		</div>
	</div>
	<div class="sidebar-box-content" style="text-align: center;">
		<a href="http://www.packtpub.com/nhibernate-3-0-cookbook/book?utm_source=jasondentler.com&utm_medium=blog&utm_content=authorsite&utm_campaign=mdb_004974">
			<img src="/images/NH3CookbookCoverSidebar.png" alt="NHibernate 3.0 Cookbook"/>
		</a>
	</div>
</div>