<!DOCTYPE html>
<html lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <meta name="author" content="Jason Dentler" />
   {% if page.excerpt.size %}
   <meta name="Description" content="{{ page.excerpt }}" />
   {% endif %}
   {% if page.url != '/index.html' %}
   <link rel="canonical" href="{{ site.baseurl }}{{ page.url }}" />
   {% else %}
   <link rel="canonical" href="{{ site.baseurl }}" />
   {% endif %}
   <title>{{ page.title }}</title>
   <link rel="stylesheet" href="/css/site.css" type="text/css" />
   <link rel="stylesheet" href="/css/pygments_style.css" type="text/css" />
   <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
   <script type="text/javascript" src="/scripts/jasondentler.js"></script>
   <script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-3959828-2']);
	  _gaq.push(['_trackPageview']);

	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>
<body>

<div id="site">
	<div id="header">
		<h1><a href="/">JasonDentler.com</a></h1>
		<h2>I'm just here for the code</h2>
	</div>
	<div id="main-wrap1">
		<div id="main-wrap2">
			<div id="main">
				<div id="contentwrapper">
					<div id="content">
						{{ content }}
					</div>
				</div>
				<div id="sidebar">
					{% include sidebar.html %}
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	<div id="footer">
		{% include license.html %}
	</div>
</div>
</body>
</html>