---
layout: default
---
<div id="post">
	<div class="post-date">
		<div class="datebox">
			<span class="month">{{ page.date | date : "%b" }}</span>
			<span class="day">{{ page.date | date : "%d" }}</span>
			<span class="year">{{ page.date | date : "%Y" }}</span>
		</div>
	</div>
	<h3>{{ page.title }}</h3>
	{% include prevnext.html %}
	<div id="post-content">
		{{ content }}
	</div>
	<div class="clear"></div>
	{% include prevnext.html %}
	{% include socialmedia_post.html %}
	{% include disqus_post.html %}

</div>
